<html>
<head>
<title>listar_produtos.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d8d8d8;}
.s1 { color: #e8bf6a;}
.s2 { color: #bababa;}
.s3 { color: #a5c261;}
.s4 { color: #5d69bb;}
</style>
</head>
<body bgcolor="#1a1a25">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
listar_produtos.html</font>
</center></td></tr></table>
<pre><span class="s0">{% extends 'modelo_base2.html' %}</span>

<span class="s0">{% block conteudo %}</span>
    <span class="s1">&lt;h2&gt;</span><span class="s0">Lista de Produtos</span><span class="s1">&lt;/h2&gt;</span>
    <span class="s1">&lt;table&gt;</span>
        <span class="s1">&lt;thead&gt;</span>
            <span class="s1">&lt;tr&gt;</span>
                <span class="s1">&lt;th&gt;</span><span class="s0">Nome</span><span class="s1">&lt;/th&gt;</span>
                <span class="s1">&lt;th&gt;</span><span class="s0">Preço</span><span class="s1">&lt;/th&gt;</span>
                <span class="s1">&lt;th&gt;</span><span class="s0">Quantidade</span><span class="s1">&lt;/th&gt;</span>
                <span class="s1">&lt;th&gt;</span><span class="s0">Validade</span><span class="s1">&lt;/th&gt;</span>
                <span class="s1">&lt;th&gt;</span><span class="s0">Fornecedor</span><span class="s1">&lt;/th&gt;</span>
                <span class="s1">&lt;th&gt;</span><span class="s0">Ações</span><span class="s1">&lt;/th&gt;</span>
            <span class="s1">&lt;/tr&gt;</span>
        <span class="s1">&lt;/thead&gt;</span>
        <span class="s1">&lt;tbody&gt;</span>
            <span class="s0">{% for produto in produtos %}</span>
                <span class="s1">&lt;tr&gt;</span>
                    <span class="s1">&lt;td&gt;</span><span class="s0">{{ produto.nome }}</span><span class="s1">&lt;/td&gt;</span>
                    <span class="s1">&lt;td&gt;</span><span class="s0">{{ produto.preco }}</span><span class="s1">&lt;/td&gt;</span>
                    <span class="s1">&lt;td&gt;</span><span class="s0">{{ produto.quantidade }}</span><span class="s1">&lt;/td&gt;</span>
                    <span class="s1">&lt;td&gt;</span><span class="s0">{{ produto.validade }}</span><span class="s1">&lt;/td&gt;</span>
                    <span class="s1">&lt;td&gt;</span><span class="s0">{{ produto.fornecedor.nome_fornecedor }}</span><span class="s1">&lt;/td&gt;</span>
                    <span class="s1">&lt;td&gt;</span>
                        <span class="s1">&lt;a </span><span class="s2">href</span><span class="s3">=&quot;{{ url_for('editar_produto', id=produto.id) }}&quot; </span><span class="s2">class</span><span class="s3">=&quot;btn2 editar&quot;</span><span class="s1">&gt;</span><span class="s0">Editar</span><span class="s1">&lt;/a&gt;</span>
                        <span class="s1">&lt;a </span><span class="s2">href</span><span class="s3">=&quot;{{ url_for('movimentacao_produto') }}&quot; </span><span class="s2">class</span><span class="s3">=&quot;btn2 editar&quot;</span><span class="s1">&gt;</span><span class="s0">Movimentar</span><span class="s1">&lt;/a&gt;</span>
                        <span class="s4">&lt;!-- Adicione outras ações, como excluir, se necessário --&gt;</span>
                    <span class="s1">&lt;/td&gt;</span>
                <span class="s1">&lt;/tr&gt;</span>
            <span class="s0">{% endfor %}</span>
        <span class="s1">&lt;/tbody&gt;</span>
    <span class="s1">&lt;/table&gt;</span>
<span class="s0">{% endblock %}</span>
</pre>
</body>
</html>